body{
    margin: 0;
    background: darkgray;
    overflow: hidden;
    text-align: center;
}
#mycanvas{
    border: solid 1px black;
    background: lightgray;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}